<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<button type="button" name="sections" class="grey-button"><i class="fa fa-bars"></i>&nbsp;sections</button>
			</li>
			<li id="search-modal-btn">
				
				<button type="button" name="search" class="grey-button"><i class="fa fa-search"></i>&nbsp;search</button>
			</li>
		</ul>
	</nav>
  <nav class="right-nav">
    <ul>
      <li>
        <button type="button" name="subscribe-now">Subscribe Now</button>
      </li>
      <li>
        <button type="button" name="login">Log In</button>
      </li>
      <li>
        <button id="gear-dropdown-btn" type="button" name="cog" class="grey-button"><i class="fas fa-cog"></i></button>
            <%= render partial: 'shared/gear_dropdown' %>
      </li>
    </ul>
  </nav>
</header>